<nav>
  <nav>
    <div class="nav-container">
      <ul class="left-navbar">
        <li class="logo">Health Bite<span>.</span></li>
        <li class="nav-li"><a href="">Retete</a></li>
        <li class="nav-li"><a href="">Meniuri</a></li>
      </ul>
      <ul class="right-navbar">
        <li class="nav-li"><a href="/users/login">Login</a></li>
        <li class="nav-li"><a href="/users/register">Register</a></li>
        <li class="nav-li"><a href="">Logout</a></li>
      </ul>
    </div>
  </nav>
</nav>
