<nav>
  <nav>
    <div class="nav-container">
      <ul class="left-navbar">
        <li class="logo">Health Bite<span>.</span></li>
        <li class="nav-li"><a href="/recipes">Retete</a></li>
        <li class="nav-li"><a href="/menus">Meniuri</a></li>
      </ul>
      <ul class="right-navbar">
        <% if (!currentUser) { %>
        <li class="nav-li"><a href="/users/login">Login</a></li>
        <li class="nav-li"><a href="/users/register">Register</a></li>
        <% }else{ %>
        <li class="nav-li">
          <form action="/users/logout" method="post">
            <button type="submit">Logout</button>
          </form>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>
</nav>
