<% layout('/layouts/boilerplate') %>
<div class="menus-main-container">
  <h1>Meniuri</h1>
  <button class="new-menu-btn">
    <a href="/menus/new">Creeaza un nou meniu</a>
  </button>
  <div class="card-container">
    <% for( let menu of menus ) { %>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title"><%= menu.name %></h5>
        <a href="/menus/<%= menu._id %>" class="btn btn-primary">Vezi meniul</a>
        <% if (currentUser._id.equals(menu.createdBy)) { %>
        <form action="/menus/<%= menu._id %>?_method=delete" method="post">
          <button type="submit">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>
