<% layout('/layouts/boilerplate') %>
<div class="container-homepage">
  <h1>Health Bite</h1>
  <p class="description">
    Health Bite te va ajuta să găsești rețete noi și să-ți genereze meniuri
    sănătoase.
  </p>
  <button><a href="/recipes">Retete</a></button>
</div>
