.container-recipes {
  padding-top: 70px;
  padding-bottom: 70px;
}

.container-recipes h1 {
  font-size: 50px;
  margin-bottom: 50px;
}

.container-recipes .card {
  background-color: var(--culoare-text);
  color: var(--culoare-bg);
}

.container-recipes .card .card-title {
  font-size: 20px;
}

.container-recipes .card .card-text {
  margin-bottom: 15px;
}

.container-recipes .card .btn-recipes {
  background-color: var(--culoare-3);
}
